option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: false
    RetentionInDays: 7
  aws:autoscaling:launchconfiguration:
    MonitoringInterval: 5 minute
  aws:elasticbeanstalk:application:environment:
    APP_LOG_HOST_DIR: /var/log/aws-library
    NGINX_LOG_HOST_DIR: /var/log/nginx
    UPLOAD_HOST_DIR: /var/app/cloudlibrary/uploads
